

table{
    width: 80%;
    margin: 40px auto;
    background: rgba(21, 153, 209, 0.477);
}

table.list{
    margin-bottom: 300px;
    text-align: center;
    width: 100%;
}

td{
    border: 1px solid rgb(143, 53, 53);
    text-align: left;
    padding: 8px 15px;
}

tr:nth-child(even), table.list thread> tr{
    background-color:  rgba(21, 153, 209, 0.477);
}

input[type="text"],input[type="number"]{
    width:91%;
    padding:12px 20px;
    margin:8px 0;
    display: inline-block;
    border: 1px solid  rgba(21, 153, 209, 0.477);
    border-radius: 4px;
}

input[type="submit"],input[type="reset"]{
    background:  rgba(21, 153, 209, 0.477);
    padding:6px 12px;
    margin:15px 0 10px;
    display: inline-block;
    border: none;
    border-radius: 30px;
    font-size: 1rem;
    cursor: pointer;
    outline: none;
}

input[type="submit"]:hover{
    background: #4b99d8;
}

input[type="reset"]:hover{
    background: #4b99d8;
}

button{
    background:  rgba(21, 153, 209, 0.825);
    padding:6px 12px;
    margin:15px 0 10px;
    display: inline-block;
    border: none;
    border-radius: 30px;
    font-size: 1rem;
    cursor: pointer;
    outline: none;
}

button:hover{
    background:#4bd8d6 ;
}

